.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile{
    margin-top: 13px;
    width: 90px;
    height: 80px;
    border-radius: 50%;
}

.about{
    display: flex;
    gap: 15px;
    margin-right: 15px
}