.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 45%;
}

.footer h4{
    font-size: 25px;
    color: pink;
}
.mail{
    width: 150px;
    display: flex;
    position: fixed;
    right: 4px;
    color:#fff;
    gap: 7px;
}
.mailicon{
font-size: 20px;
right: 4px;
}